# Cache folders
.ruff_cache/
.mypy_cache/
.pytest_cache/



# Byte-compiled / optimized / DLL files
__pycache__/
.ipynb_checkpoints/
*.ipynb
*.py[cod]
*$py.class


# Environment files
.env
.venv
env/
venv/
ENV/
*.egg-info/


# Deep Learning weights
*.pt
*.pth
*.ckpt
*.bin
*.h5
